<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <configSections>
      <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>

    <appSettings>
      <add key="baseAppUrl" value="https://www.booking.com/" />
      <add key= "https://www.booking.com/index.ru.html?label=gen173nr-1BCAEoggI46AdIM1gEaOkBiAEBmAEhuAEXyAEM2AEB6AEBiAIBqAIDuAKU77rnBcACAQ;sid=c13a8d221fb26210b82433cb70e438a1;keep_landing=1&amp;sb_price_type=total&amp;" />
      <add key="browser" value="Chrome" />

      <add key="SetPageLoadTimout" value="5000" />
      <add key="DefaultWaitTimeOut" value="20" />
      <add key="ImplicitlyWait" value="2000" />
    </appSettings>   

</configuration>